.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 130px;
}

.form-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-title {
    margin-left: 55px;
}

.label {
    display: block;
    font-weight: bold;
}


input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 110px;
}

button:hover {
    background-color: #0056b3;
}

.message {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
}

.success {
  background-color: #00b894;
  color: white;
}

.error {
  background-color: #d63031;
  color: white;
}

.error-text {
  color: #d63031;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}